.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #1f2937, #111827); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
  background-color: #ffffff10;
  backdrop-filter: blur(16px);
  padding: 2.5rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  width: 90%;
  max-width: 520px;
  text-align: center;
  color: white;
}
.login-card h2{
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.login-card h2 img{
  height: 9vh;
  margin-right: 1rem;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.login-input {
  width: 90%;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #ffffff20;
  color: white;
  transition: 0.2s ease;
}

.login-input::placeholder {
  color: #ddd;
}

.login-input:focus {
  background-color: #ffffff30;
}

.login-button {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-button:hover {
  background-color: #1d4ed8;
}

.signup-text {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ccc;
}

.signup-link {
  color: #3b82f6;
  cursor: pointer;
  font-weight: 500;
  margin-left: 4px;
}

.signup-link:hover {
  text-decoration: underline;
}
h4{
  text-align: center;
  color: white;
  font-weight: normal;
}
